extends email-layout

block content
  h2 Your account has been successfully updated. Your username now is: #{user.name} and email: #{user.email}. 
  p If you don't recognize this behavior please contact us.