extends layout

include mixins/_storeForm
include mixins/_productForm
include mixins/_editProductForm

block content
  .inner
    h2= title
    +storeForm(store)
    if (store)
      h3 Add Product
      +productForm(product, store)
      if (store.products.length > 0)
        h3 Edit Products
        each product in store.products
          +editProductForm(product, store)
