extends layout

include mixins/_registerForm

block content
  .inner
    +registerForm()
    form.form(action="/register/vendor" method="POST")
      h2 Register as a Vendor
      label(for="name") Name
      input(type="text" name="name")
      label(for="email") Email
      input(type="email" name="email")
      label(for="password") Password
      input(type="password" name="password" minlength='6')
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm" minlength='6')
      input.button(type="submit" value="Register →")