mixin storeProduct(product = {})
  a(href=product.link target="_blank").product
    .product__hero
      img(src=`https://s3.amazonaws.com/cbdoilmaps-public-images/products/${product.photo || 'product.png'}`)
    .product__details
      h2.storeCardTitle= product.name
      p= product.description.split(' ').slice(0, 15).join(' ')
